nav .nav__logo {
    width: auto;
    height: auto;
}

nav .nav__logo img {
    width: 5.5625rem;
    height: 1.5rem;
    display: block;
}

nav .nav__btn-actions {
    height: 2rem;
}

nav .btn-nav {
    padding: .35rem .75rem;
    font-size: 0.875rem;
    border-radius: .3rem;
}

nav .dopdown-lang {
    background: inherit;
    color: var(--color-secondary);
    padding-left: 2.25rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
}

nav .nav_container {
    width: 100vw;
    padding-bottom: 4rem;
    margin: 0;
    color: var(--color-secondary);
    text-align: center;
}

header .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image {
    width: 100vw;
    display: flex;
    justify-self: flex-start;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
}

.nav-headerLayout {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* altro modo per mettere immagine di background */

/* 
.img-background {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/5d203cac-4760-43cb-9fd9-ffa39a280c97/IT-it-20240129-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-position: 0;
    background-size: 0;
} */

.nav-headerLayout img {
    align-self: flex-start;
    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
    overflow: hidden;
}

.nav-headerLayout .nav-head {
    float: left;
    margin: 0;
    padding: 10px;
    width: 100%;
    color: #dedede;
    background: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
}






/* da inserire in main */
body {
    width: 100vw;
}