<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/template/components/domande.css">
    <title>Document</title>
</head>
<body>
    <div class="containerdomande flex justify-center items-center">
        <div>
            <h2 class="primotitolo title">
                Domande frequenti
            </h2>
        </div>
        <div class="dimension">
            <div class="altrititoli ask-hover">
                <h3 class="ask-text ask-hover flex justify-between">
                    <span class="flex items-center ask-text-btn">Cos'è Netflix?</span>
                    <button class="ask-button flex items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" alt="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
                                fill="currentColor">
                            </path>
                        </svg>
                    </button>
                </h3>
            </div>
        </div>
        <div class="dimension">
            <div class="altrititoli ask-hover">
                <h3 class="ask-text ask-hover flex justify-between">
                    <span class="flex items-center ask-text-btn">Quanto costa Netflix?</span>
                    <button class="ask-button flex items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" alt="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
                                fill="currentColor">
                            </path>
                        </svg>
                    </button>
                </h3>
            </div>
        </div>
        <div class="dimension">
            <div class="altrititoli ask-hover">
                <h3 class="ask-text ask-hover flex justify-between">
                    <span class="flex items-center ask-text-btn">Dove posso guardare Netflix?</span>
                    <button class="ask-button flex items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" alt="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
                                fill="currentColor">
                            </path>
                        </svg>
                    </button>
                </h3>
            </div>
        </div>
        <div class="dimension">
            <div class="altrititoli ask-hover">
                <h3 class="ask-text ask-hover flex justify-between">
                    <span class="flex items-center ask-text-btn">Come posso disdire?</span>
                    <button class="ask-button flex items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" alt="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
                                fill="currentColor">
                            </path>
                        </svg>
                    </button>
                </h3>
            </div>
        </div>
        <div class="dimension">
            <div class="altrititoli ask-hover">
                <h3 class="ask-text ask-hover flex justify-between">
                    <span class="flex items-center ask-text-btn">Cosa posso guardare su Netflix?</span>
                    <button class="ask-button flex items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" alt="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
                                fill="currentColor">
                            </path>
                        </svg>
                    </button>
                </h3>
            </div>
        </div>
        <div class="dimension">
            <div class="altrititoli ask-hover">
                <h3 class="ask-text ask-hover flex justify-between">
                    <span class="flex items-center ask-text-btn">Netflix è adatto ai bambini?</span>
                    <button class="ask-button flex items-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" alt="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
                                fill="currentColor">
                            </path>
                        </svg>
                    </button>
                </h3>
            </div>
        </div>
    </div>
</body>

</html>