<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/template/components/main.css">
</head>
<body>
    <main>

        
            <div class="container flex justify-between padding-tb">
                <div class="card">
                    <div class="card-text padding-right">
                        <h2 class="title">Goditi Netflix sulla tua TV</h2>
                        <p class="main-text">
                            Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple TV, lettori Blu-ray e molti
                            altri dispositivi.
                        </p>
                    </div>
                    <div class="padding-left png flex justify-center">
                        <img class="png"
                            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
                            alt="Schermo" />
                        <div class="flex justify-center">
                            <video class="card-video"
                                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                                autoplay playsinline muted loop></video>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>

        

    </main>

</body>

</html>