<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/template/components/main.css">
</head>
<body>
    <main>
        <div class="container flex justify-between padding-tb">
            <div class="card">
                <div class="card-text padding-right">
                    <h2 class="title">Goditi Netflix sulla tua TV</h2>
                    <p class="main-text">
                        Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple TV, lettori Blu-ray e molti
                        altri dispositivi.
                    </p>
                </div>
                <div class="padding-left png flex justify-center">
                    <img class="png"
                        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
                        alt="Schermo" />
                    <div class="flex justify-center">
                        <video class="card-video1"
                            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                            autoplay playsinline muted loop></video>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container flex justify-between padding-tb">
            <div class="card">
                <div class="padding-right png flex justify-center">
                    <img class="png"
                        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
                        alt="Schermo" />
                    <div class="flex justify-center">
                        <video class="card-video2"
                            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
                            autoplay playsinline muted loop></video>
                    </div>
                </div>
                <div class="card-text padding-left">
                    <h2 class="title">Guarda Netflix ovunque</h2>
                    <p class="main-text">
                        Cellulare, tablet, laptop e TV: scegli tu cosa usare per guardare in streaming film e serie TV senza limiti.
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <div class="container flex justify-between padding-tb">
            <div class="card">
                <div class="card-text padding-right">
                    <h2 class="title">Crea profili per i bambini</h2>
                    <p class="main-text">
                        I bambini scoprono nuove avventure in compagnia dei loro personaggi preferiti in uno spazio tutto loro già incluso nel tuo abbonamento.
                    </p>
                </div>
                <div class="padding-left png flex justify-center">
                    <img class="png"
                        src="https://occ-0-7980-784.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABQsAP_o9hR1G6Iof9Ckx0xjVOkOYPfWTiMN69dvL5yzSCKoCYylyrG4QSXvHmcT9To8tTTtNGP6_97vR8Y5utqllhB17BwfvB_lE.png?r=ec4"
                        alt="Schermo" />                    
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container flex justify-between padding-tb">
            <div class="card">
                <div class="padding-right png flex justify-center">
                    <img class="png"
                        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
                        alt="Schermo" />
                    <div class="flex justify-center box-img">
                        <img class="poster" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" alt="Stranger Things' poster">
                        <div class="box-title">
                            <div class="stranger">
                                Stranger Things
                            </div>
                            <div class="download">
                                Download in corso...
                            </div>
                        </div>
                        <div class="download-img"></div>
                    </div>
                </div>
                <div class="card-text padding-left">
                    <h2 class="title">Scarica le tue serie da guardare offline</h2>
                    <p class="main-text">
                        Guarda in aereo, sul treno, in astronave...
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </main>

</body>

</html>