<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/template/components/nav.css">
</head>

<body>
    <div class="nav-headerLayout transparent">
        <div class="nav-head img-background flex column ">
            <nav class="start ">
                <div class="row nav_container">
                    <div class="container flex justify-between">
                        <div class="nav__logo">
                            <img src="../CSS/template/components/img-nav/netflix-seeklogo.svg" alt="logo" />
                        </div>
                        <div class="nav__btn-actions">
                            <select name="languages" class="dopdown-lang" id="languages">
                                <option value="italian" selected>Italiano</option>
                                <option value="english">Inglese</option>
                            </select>
                            <button class="btn-nav btn-primary" value="login">Accedi</button>
                        </div>
                    </div>
                </div>
            </nav>
            <header class="flex items-center">
                <h1 class="title">Film, serie TV e tanto altro, senza limiti</h1>
                <p class="text">Guarda ciò che vuoi ovunque. Disdici quando vuoi.</p>
                <p class="text">Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento.</p>
            </header>
        </div>
        <div class="bg-layout">
            <img class="bg-image" alt="bg-image" 
                src="https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/5d203cac-4760-43cb-9fd9-ffa39a280c97/IT-it-20240129-popsignuptwoweeks-perspective_alpha_website_small.jpg"
                srcset="https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/5d203cac-4760-43cb-9fd9-ffa39a280c97/IT-it-20240129-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/5d203cac-4760-43cb-9fd9-ffa39a280c97/IT-it-20240129-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, https://assets.nflxext.com/ffe/siteui/vlv3/4da5d2b1-1b22-498d-90c0-4d86701dffcc/5d203cac-4760-43cb-9fd9-ffa39a280c97/IT-it-20240129-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w"
                class="header_bg-image" />
        </div>
    </div>










</body>

</html>