<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/template/components/nav.css">
</head>

<body>
    <nav>
        <div class="row">
            <div class="container flex justify-between">
                <div class="nav__logo">
                    <img src="../CSS/template/components/img-nav/netflix-seeklogo.svg" alt="logo" />
                </div>
                <div class="nav__btn-actions">
                    <select name="languages" id="languages">
                        <option value="italian" selected>Italiano</option>
                        <option value="english">Inglese</option>
                    </select>
                    <button value="login">Accedi</button>
                </div>
            </div>
        </div>
        <header>
            <h2>Film, serie TV e tanto altro, senza limiti</h2>
            <h3>Guarda ciò che vuoi ovunque. Disdici quando vuoi.</h3>
            <h3>Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento.</h3>
        </header>
    </nav>

</body>

</html>